	body {
	background-color:#F4F4F4;
	font-size:13px;
	color:#000000;
	text-align:justify;
	margin-top:10px;
	}
	.logo{
	font-size:25px;
	color:#36B2BA;
	font-weight:bold;
	font-family:arial;
	text-align:left;
	padding-left:75px;
	padding-bottom:5px;
	}
	.tag{
	font-size:13px;
	font-family:arial;
	color:#030502;
	text-align:left;
	padding-bottom:5px;
	padding-left:75px;
	}
	.home
	{font-family:tahoma;
	font-size:11px;
	color:#7D7D7D;
	vertical-align:bottom;
	padding-right:5px;
	text-decoration:none;
	}
	.home:hover
	{font-family:tahoma;
	font-size:11px;
	color:#000000;
	vertical-align:top;
	padding-right:5px;
	text-decoration:underline;
	}
	.title{
	font-family:arial;
	background-image:url(images/title_bg.gif);
	background-position:bottom;
	background-repeat:repeat-x;
	font-size:15px;
	font-weight:bold;
	color:#F33F00;
	padding-left:10px;
	padding-bottom:8px;
	padding-top:10px;
	text-align:left;
	}
	.text{
	font: normal small Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
	text-align:justify;
	}
	.bottomlinks{
	font-family:tahoma;
	background-image:url(images/bottom_bg.gif);
	background-repeat:repeat-x;
	font-size:11px;
	color:#FFFFFF;
	text-decoration:none;
	}
	.bottomlinks a{
	font-family:tahoma;
	font-size:11px;
	color:#FFFFFF;
	text-decoration:none;
	}
	.bottomlinks a:hover{
	font-family:tahoma;
	font-size:11px;
	color:#FFFFFF;
	text-decoration:underline;
	}
	ul{
	padding:0px;
	text-align:left;
	margin-top:0px;
	margin-left:0px;
	vertical-align:middle;
	text-decoration:none;
	}
	li{
	list-style-type:none;
	text-align:left;
	}
	li a{
	list-style-type:none;
	text-decoration:none;
	color:#FFFFFF;
	line-height:13px;
	text-align:center;
	font-family:arial;
	font-size:1.1em;
	line-height:.9em;
	font-style:normal;
	font-weight:bold;
	}
	li a:hover{
	list-style-type:none;
	color:#2D2D2D;
	line-height:13px;
	text-align:center;
	font-family:arial;
	font-size:1.1em;
	line-height:.9em;
	font-style:normal;
	font-weight:bold;
	text-decoration:none;
	}
	em{
	display:block;
	text-align:center;
	font-style:normal;
	}
	a{
	font-family:arial;
	color:#000000;
	font-size:12px;
	text-decoration:underline;
	}
	a:hover{
	font-family:arial;
	color:#000000;
	font-size:12px;
	text-decoration:none;
	}